.view-report-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.background-image{
    background-image: url('../../images/header1.jpg');
    height: 120vh; 
}

.report-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
}

.report-card {
    background-color: rgba(255, 255, 255, 0.9); 
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.report-card:hover {
    transform: translateY(-10px);
}

.report-card h3 {
    font-size: 1.5em;
    color: #2c3e50;
    margin-bottom: 10px;
}

.report-card p {
    font-size: 1em;
    color: #7f8c8d;
    margin-bottom: 20px;
}

.report-button {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.report-button:hover {
    background-color: #2980b9;
}


@media (max-width: 768px) {
    .report-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .report-card {
        width: 100%;
        max-width: 400px;
    }
}
