.dashboard-header {
    position: relative;
}

.dashboard-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(60%);
    display: flex;
    justify-content: center;
}

.pending-reservations-card {
    margin-top: 30px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-around;
    position: absolute; 
    top: 10%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 40%;
    padding: 20px; 
    box-sizing: border-box;
    z-index: 1; 
    opacity: 0.9;
}

.pending-reservations-card h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.pending-count {
    font-size: 24px;
    color: #e74c3c;
    font-weight: bold;
}

.reservations-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.reservations-table th, .reservations-table td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.reservations-table td{
    text-align: center;
}

.reservations-table tr.closed {
    background-color: #f2dede;
}

.view{
    color: white;
    width: 60%;
    text-align: center;
    font-weight: bold;
}

.view{
    background-color: darkslateblue !important;
}
